@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.textLogo{
    font-family: 'Italianno', cursive;
    font-size: 12rem;
    color: #fff;
}